@using stajerYonetim.Models
@model List<Request>
@{
    ViewData["Title"] = "RequestView";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<br />
<table class="table table-bordered" style="color:white">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Company</td>
        <td>Details</td>
        <td>Accept</td>
        <td>Decline</td>


    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ReqId</td>
            <td>@x.ReqName</td>
            <td>@x.ReqtSurname</td>
            <td>@x.Company.CompName</td>
            <td><a href="/Request/RequestDetails/@x.ReqId" class="btn btn-default" style=" background-color:darkorange;  color:aliceblue;">Details</a></td>
            <td><a href="/Request/RequestAccept/@x.ReqId" class="btn btn-primary">Accept</a></td>
            <td>@Html.ActionLink("Decline","RequestDecline","Request",new{id=x.ReqId}, new{@class="btn btn-danger",onclick="return confirm('Are you sure you want to decline this request?')"})</td>

        </tr>
    }
</table>


